/* Обнуление кнопки */
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* Header */
/* Левая сторона навигации */
.header {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    justify-items: center;
    align-items: center;
    padding: 92px 51px 92px;
}

.nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-item {
    list-style: circle;
}

.nav-item::marker {
    font-size: 20px;
}

.nav-item:first-child {
    list-style: none;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item-link {
    font-size: 18px;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav-item-active {
    text-decoration: none;
}

/* Логотип шапки центр */

.header-logo-link {
    display: grid;
    justify-self: start;
    margin-left: 43px;
    align-self: center;
    width: 140px;
}

.header-logo-img {
    width: 100%;
}


/*  */

.address {
    max-width: 260px;
    font-style: inherit;
}

.address-link {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.contact-adress {
    font-size: 18px;
    line-height: 1.35;
}


/* Main */
/* Блок info */
.info-container {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: round;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto; 
    height: auto;
    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
    z-index: 1;
}

.info-title {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    padding: 165px 50px 105px 50px;
    z-index: 2;
    gap: 20px;
}

.title-h1-span {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
}

.info-text-one {
    justify-self: start;
}

.info-text-two {
    justify-self: center; 
    margin-left: 30px;
}

.info-text-three {
    justify-self: end;
    max-width: 385px;
    
}

.info-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px;
}

.info-text {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 19px;
    text-align: left;
    text-transform: uppercase;
}

.info-btn {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px 32px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

/* Лоты */

.container-lots {
    margin: 0 24px;
}

.title-h2-lots {
    color: rgba(0, 0, 0, 1);
    padding: 180px 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.lots-card-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    gap: 25px;
    flex-wrap: wrap;
}

.lots-card-li {
    position: relative;
    width: 334px; 
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
    padding: 48px 40px;
    text-underline-offset: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lots-card-li:last-child {
    margin-right: 0;
}


.card-li-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.card-img-one {
    background-image: url(../images/card-lot-01.jpg);
    
}

.card-img-two {
    background-image: url(../images/card-lot-02.jpg);
}

.card-img-three {
    background-image: url(../images/card-lot-03.jpg);
}

.title-h3-card {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 2;
}

.card-text {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
}

.lots-btn {
    margin-left: 40px;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

/* Об аукционе */

.auction {
    padding-top: 155px;
    margin-left: 71px;
    margin-right: 29px;
    padding-bottom: 180px;
}

.container-auction {
    display: flex;
}

.auction-img-block {
    padding-right: 72px;
}

.auction-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
}

.logo-white {
    width: 148px;
}

.auction-text-wrapper {
    display: flex;
    flex-direction: column;
}

.auction-title-h2 {
    padding-top: 101px;
    padding-bottom: 100px;
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.text-auction {
    padding-bottom: 24px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.text-auction:last-child {
    padding-bottom: 0;
}


/* Footer */

.footer {
    padding: 0 50px 82px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.footer-list {
    justify-items: center;
    align-items: center;
}

.footer-nav {
    margin-left: -24px;
}

.footer-item-link {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer-item-bottom {
    border-bottom: none;
}

.footer-svg {
    display: flex;
}

.svg-icon {
    width: auto;
    height: 48px;
}

.footer-img {
    margin-right: 48px;
}

.footer-img:last-child {
    margin-right: 0;
} 